.movie_offcanvas{
    height: 982px;
    border-radius: 0px 45px 45px 0px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    background: #FFF;
}

.offcanvas_logo{
    
}

.movie_img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 349px;
    border-radius: 20px;
}